<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Carstagram</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <a class="navbar-brand" href="#">
                <img src="{% static 'logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                Carstagram
            </a>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>
        {% bootstrap_javascript %}
    </footer>
</body>
</html>